/* src/App.css */
.App {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

.home-button {
  background-color: #030303;
  color: white;
  padding: 5px 10px ;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 5px;
  position:absolute;
  left:4%;
  top:5%;
 
}

.back-button {
  background-color: #030303;
  color: white;
  padding: 5px 10px ;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 5px;
  position:absolute;
  right:4%;
  top:5%;
}

.home-button:hover ,.back-button:hover{
  background-color: #0fbce7;
}

.video-player {
  margin-top: 20px;
  margin-left:5px;
}

.video-player-container {
  width: 80%;
  margin: 0 auto;
}

.video-player h2 {
  text-align: left;
  margin-top: 10px;
  font-size:larger;
  color: solid black;
}

.video-player p {
  text-align: left;
  margin-top: 10px;
  padding: 0 20px;
}

h1, h2, h3 {
  color: #333;
}

.channel-grid{
  list-style: none; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 80px;
  padding-inline-start: 30px;
}

.channel-grid li, .video-grid li {
  text-align: center; 
}

.channel-grid img {
  width: 100%; 
  height:auto;
}
.title {
  font-size: 25px;
}

.title-video{
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
  color: solid black;
  text-align: left;
  font-weight: lighter;
}

.channelImage{
  size: 100px;
}

.channel-video-img{
  size: 50px;
}

.video-grid{
  list-style: none; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 60px; 
}

.video-grid img{
  width: 100%; 
  height: auto;
}

.load-more-button {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 4px;
}

.load-more-button:hover {
  background-color: #0056b3; 
}

.video-player-container {
  text-align: center;
  padding: 20px;
}

.video-responsive {
  position: relative;
  overflow: hidden;
  padding-top: 50.25%; 
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
}
.channel-header {
  text-align: left;
  font-size:larger;
  color: solid black;
  margin-top: 7%;
  margin-left:4%;
  position:relative;
  font-size: larger;
}